html {
 scroll-behavior: smooth;
}

/* HeroCards background shadow */
.shadow {
 position: absolute;
 background: hsl(var(--primary) / 0%);
 border-radius: 24px;
 rotate: 35deg;
 z-index: -1;
 width: 260px;
 top: 200px;
 height: 400px;
 filter: blur(150px);
 will-change: transform;
 animation: shadow-slide infinite 4s linear alternate;
}

@keyframes shadow-slide {
 from {
  background: hsl(var(--primary) / 20%);
  right: 460px;
 }
 to {
  background: hsl(var(--primary) / 80%);
  right: 160px;
 }
}

@media (max-width: 1024px) {
 .shadow {
  top: 70px;
 }

 @keyframes shadow-slide {
  from {
   background: hsl(var(--primary) / 20%);
   right: 460px;
  }
  to {
   background: hsl(var(--primary) / 50%);
   right: 160px;
  }
 }
}

@media (max-width: 768px) {
 .shadow {
  top: 70px;
  width: 100px;
  height: 350px;
  filter: blur(60px);
 }

 @keyframes shadow-slide {
  from {
   background: hsl(var(--primary) / 20%);
   right: 280px;
  }
  to {
   background: hsl(var(--primary) / 30%);
   right: 100px;
  }
 }
}

/* ✅ Fluid paragraph text based on container width */
.paragraph-auto {
 font-size: clamp(0.875rem, 2cqmin, 1rem);
}

/* ✅ Heading style with fluid container-based scaling */
.heading-auto {
 font-size: (1.5rem, 4cqmin, 2rem);
}



  .heading-auto {

    font-size: clamp(2.5rem,5cqmin,3.5rem) ;
  }
  
  .paragraph-auto {
    @apply text-[clamp(1rem,2.5cqmin,1.25rem)] text-muted-foreground;
  }

